<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select
    [formControl]="headings"
    multiple
    [disabled]="
      NrawDataHeader ? !disableSelect.disabled : disableSelect.disabled
    "
  >
    <mat-select-trigger>
      {{headings.value?.[0]||''}}
      <span
        *ngIf="(headings.value?.length || 0) > 1"
        class="example-additional-selection"
      >
        (+{{ (headings.value?.length || 0) - 1
        }}{{ headings.value?.length === 2 ? "other" : "others" }})
      </span>
    </mat-select-trigger>
    <mat-option
      #matOption
      *ngFor="let col of headers"
      [value]="col"
      (click)="onSelectOption($event,matOption.selected)"
      >{{ col }}</mat-option
    >
  </mat-select>
</mat-form-field>
<span>
  {{ headings.value }}
</span>
<button mat-raised-button color="primary" [disabled]="NrawDataHeader?!disableSelect.disabled:disableSelect.disabled">Add Coloumns</button>
<div>
  <app-table [additionalHeaders]="NrawDataHeader" (ErawDataHeader)="onInitialRawDataHeader($event)"></app-table>
</div>
