table {
    width: 100%;
    margin-top: 2em;
}

.mat-cell {
    padding-left: 5px;
    padding-right: 5px;
}

.mat-header-cell,
th,
td {
    width: 5em;
    text-align: center;
}

.mat-column-Last_Update {
    width: 10em !important;
}